.section-1-container{
    padding: 5rem;
    background-image: url('../../../../assets//images/paragraph-1-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 130px;
    
}

.section-overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: #363636;
    height: 100%;
    width: 100%;
}

.section-1{
    width: 95%;
    margin: auto;
    color: #f7ae1c;
    position: relative;
}

.section-1 h1 {
    margin-top: 0;
}

.section-1 ul {
    list-style: none;
}

.section-1 ul li {
    color: white;
    font-size: x-large;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}


.section-1 ul li img {
    width: 30px;
    margin-left: 15px;
}