.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    border: 5px;
    border-radius: 5px;
    background-color: white;
}

.image img {
    border-radius: 5px;
    width: 100%;
}

.info {
    padding: 1rem;
}

.title h2 {
    margin: 0;
}

.description h3 {
    margin: 0;
}

.info-list ol {
    padding: 0 1rem;
}

