

.section-2-container {
    background-color: #F7F7F7;
    padding: 3rem;
}

.section-2 {
    margin: auto;
}


.section-2 h1 {
    text-align: center;
    margin: 0;
}


.section-2 h3 {
    text-align: center;
}