.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.call-me {
    margin-left: 30px;
    background-color: #f7ae1c;
    padding: 0.3rem;
    border-radius: 5px;
}

.call-me img {
    width: 25px;
}

.call-me a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color:black;
    font-weight: 900;
}