.nav-container {
    
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.nav-container a {
    color: white;
    font-size: x-large;
    font-weight: 700;
}

.nav-container a:hover {
    color: lightblue;
}

.mobile-nav-container {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
}

.mobile-nav-container a {
    margin: 0.5rem 1.5rem ;
    font-size: 1.1rem;
    color: #f7ae1c;
    
}

.mobile-nav-container-manu {
    width: 35px;
    background-color: white;
    border-radius: 50px;
}