.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color:black;
    font-weight: 900;
    background-color: #f7ae1c;
    border-radius: 5px;
    padding: 0.3rem;
}

.phone img {
    width: 25px;
}