.background-img {
    background-image: url('../../assets/images/network-cables/network-cables.jpeg');
    padding: 0 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 75px;
    height: 50dvh;
}

.overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: #363636;
    height: 100%;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 95%;
    margin: auto;
    color: #f7ae1c;
    position: relative;
    font-weight: 600;
}

.article h1 {
    font-size: 2rem;
}

.article ol {
    padding: 0 1rem;
    margin: 0;
}

.article ol li {
    margin-bottom: 0.5rem;
}

.article h3 {
    text-decoration: underline;
    margin-bottom: 0.5rem;
}


.article section {
    background-color: rgba(255, 255, 255, 0.099);
    padding: 3rem;
    font-size: large;
}

.cable-card-list {
    padding: 3rem 0;
}

.section-3 {
    padding: 2rem 5rem;
    background-color: #F7F7F7;
}

@media screen and (max-width: 700px) {
    .background-img {
        padding: 1rem 1rem;
        height: 75dvh;
    }
    .section-3 {
        padding: 1rem;
    }
}